
@{
    ViewBag.ServiceName = "QnA Workflow Preview";
    ViewBag.ServiceController = "Application";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@RenderBody()

@section ServiceHeader
{
   
        <div class="das-user-panel">
            <div class="govuk-width-container">
                <div class="das-user-panel__content">
                    <span class="govuk-body-s das-user-panel__item das-user-panel__item--grow">
                        <p class="govuk-!-margin-top-0 das-!-margin-bottom-xs das-no-wrap">
                            <span class="govuk-visually-hidden">Signed in as Test</span>
                        </p>
                    </span>
                </div>
            </div>
        </div>
    

    <div class="govuk-width-container">
        <div class="govuk-phase-banner govuk-phase-banner--no-border">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service – your <a class="govuk-link" target="_blank" href="https://www.smartsurvey.co.uk/s/epao-banner/">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}

@section FooterLinks
{
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" >Cookies</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" >Privacy</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link">Contact</a>
    </li>
}